.chatList
  &__card
    text-decoration: none
    transition: all 0.5s
    cursor: pointer

    &:hover
      background: rgba(0, 0, 0, 0.3)

    &Link
      cursor: pointer
      text-decoration: none
      color: #000

    &Link:hover
      color: #000

    &User_status
      font-size: 14px
      color: green
  &__new
    cursor: pointer
    width: 50px !important
    height: 50px !important
