.messenger__card {
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.messenger__card:hover {
  background: rgba(0, 0, 0, 0.3);
}

.messenger__card-link {
  text-decoration: none;
  color: #000;
}

.messenger__card-link:hover {
  color: #000;
}

.messenger__card-user_status {
  font-size: 14px;
  color: green;
}
