.friendList
    &__search
        padding: 10px 0
        position: relative
        &Input
            text-align: center
            width: 100%
            padding: 8px
            background: #224b7a
            color: #fff
            border: none
            border-radius: 20px
            &:placeholder
                font-size: 20px
            &:focus
                outline: none
        &Icon
            color: #8eacc6
            position: absolute
            top: 55%
            left: 4%
            transform: translateY(-50%)
    &__card
        &User
            &Status
                color: red
            &Status._online
                color: green
