.chat
    margin: auto 0
    margin-left: auto
    margin-top: 50px
    margin-right: 10%
    width: 65%
    height: 90%
    background: #fff
    position: relative

    &__message
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        &-area
            overflow: auto
            padding: 20px
            position: absolute
            top: 0
            left: 0
            height: 40%
            width: 100%
            border: 1px solid blue
        &-item
            margin: 20px 5px
            border: 2px solid
            padding: 10px
            width: fit-content
            border-radius: 10px
            &-from
                border-color: aqua
                background: lighten(aqua,40%)
                margin-right: auto
            &-to
                border-color: lime
                background: lighten(lime,40%)
                margin-left: auto
        &-input
            position: absolute
            bottom: 10%
            left: 0
            height: 20%
            width: 100%
            border: 2px solid green
        &-submit
            position: absolute
            bottom: 0
            left: 0
