.sidebar {
	position: fixed;
	top: 200px;
	left: 10%;
}

.sidebar__item {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: 150px;
	cursor: pointer;
}

.sidebar__item:hover .sidebar__itemIcon {
	background: #000;
	transition: all 0.4s;
	color: #fff;
	border-radius: 50%;
	padding: 3px;
}

.sidebar__item:hover .sidebar__itemText {
	transition: all 0.4s;
	color: chartreuse;
}

.sidebar__itemIcon {
	color: cadetblue;
}
